body {
    margin: 0;
    padding: 0;
    font-family: Times, serif;
}

header {
    text-align: center;
}

img {
    width: 100%;
    height: auto;
}

h1 {
    margin-top: 25px; 
    background-color: gray; 
    padding: 10px;
    display: inline-block;
    color: white;
}
h2 {
    color: white; 
    font-style: italic;
}
nav {
    background-color: #333;
    color: white;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: white;
}
