body {
    margin: 0;
    padding: 0;
    font-family: Times, sans-serif;
}

header {
    text-align: center;
}

img {
    width: 100%;
    height: auto;
}

h1 {
    margin-top: -50px; /* Adjust as needed */
    background-color: white; /* Ensures text is readable on the banner */
    padding: 10px;
    display: inline-block;
    color: blue;
}

nav {
    background-color: #333;
    color: white;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: white;
}
